.categories {
  margin-bottom: 20px;
}

.main-component button {
  font-size: 18px;
  padding: 10px 20px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "MontLight" !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  color: black !important;
  background-color: #b0bec5 !important;
}

.active:hover {
  color: black;
  background-color: white;
}

.categories-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0%;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.categories-button:hover {
  color: white;
  background-color: #111;
}

.donations {
  font-size: medium;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo-icon {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}
