.subcontainer {
  background-color: rgb(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100vw;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo h1 {
  font-size: 40px;
  font-family: "MontLight";
}

.description {
  margin-bottom: 10px;
  text-align: center;
}

.categories {
  margin-bottom: 20px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 20px;
  border: 1px solid #565656;
  border-radius: 10px;
}

.label {
  font-size: 18px;
  margin-bottom: 20px;
}

.subscribe button {
  font-size: 18px;
  padding: 10px 20px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "MontLight" !important;
}

.email-input {
  font-size: 15px;
  padding: 10px;
  width: 60%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-family: "MontLight";
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  color: black !important;
  background-color: #b0bec5 !important;
}

.active:hover {
  color: black;
  background-color: white;
}

.categories-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.categories-button:hover {
  color: white;
  background-color: #111;
}

.donations {
  font-size: medium;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo-icon {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}
