<div class="subcontainer">
  <div class="logo">
    <h1>BookSnap</h1>
  </div>
  <div class="description">
    <p>
      Start your morning by becoming smarter in 15 minutes: Get a book summary
      delivered to your inbox daily!
    </p>
  </div>

  <div class="categories">
    <ul>
      <li>
        <button
          class="categories-button"
          (click)="selectCategory('random')"
          [ngClass]="category === 'random' ? 'active' : ''"
        >
          Random
        </button>
      </li>
      <li>
        <button
          class="categories-button"
          (click)="selectCategory('self')"
          [ngClass]="category === 'self' ? 'active' : ''"
        >
          Self-Improvement
        </button>
      </li>
      <li>
        <button
          class="categories-button"
          (click)="selectCategory('biz')"
          [ngClass]="category === 'biz' ? 'active' : ''"
        >
          Business & Finance
        </button>
      </li>
      <li>
        <button
          class="categories-button"
          (click)="selectCategory('history')"
          [ngClass]="category === 'history' ? 'active' : ''"
        >
          History & Biography
        </button>
      </li>
      <li>
        <button
          class="categories-button"
          (click)="selectCategory('science')"
          [ngClass]="category === 'science' ? 'active' : ''"
        >
          Science & Technology
        </button>
      </li>
    </ul>
  </div>
  <div class="subscribe">
    <div class="label">Subscribe, it's free</div>
    <input
      type="email"
      id="email-input"
      name="email"
      placeholder="Enter your email address"
      class="email-input"
      #email_input
    />
    <button
      mat-raised-button
      color="accent"
      (click)="subscribe(email_input.value)"
      *ngIf="!loading"
    >
      Sign me up!
    </button>
    <mat-progress-spinner
      class="example-margin"
      [color]="'accent'"
      [mode]="'indeterminate'"
      [diameter]="50"
      *ngIf="loading"
    >
    </mat-progress-spinner>
  </div>
</div>
