/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "MontLight";
  src: url("./assets/Montserrat-Light.ttf");
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: MontLight, "Helvetica Neue", sans-serif;
}
