/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "MontLight";
  src: url("./assets/Montserrat-Light.ttf");
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: MontLight, "Helvetica Neue", sans-serif;
}

.subcontainer {
  background-color: rgb(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100vw;
}

.description {
  margin-bottom: 10px;
  line-height: 130%;
  text-align: center;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo h1 {
  font-size: 40px;
  font-family: "MontLight";
}

.main-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 20px;
  border: 1px solid #565656;
  border-radius: 10px;
}

.label {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #4285f4;
  color: #fff;
  cursor: pointer;
  font-family: "MontLight" !important;
}

input,
textarea {
  font-size: 15px;
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-family: "MontLight";
  text-align: center;
}
