<div class="subcontainer">
  <div class="logo">
    <h1>We <b>hate</b> to see you go!</h1>
  </div>
  <div class="description">
    <p>
      To confirm your unsubscription, please re enter your email address below.
      <br />
      Please let us know how we can improve, your feedback is highly
      appreciated!
    </p>
  </div>
  <div class="subscribe">
    <input
      type="text"
      id="feedback-input"
      name="feedback"
      placeholder="Got any feedback? We'd love to hear it!"
      #feedback_input
    />
    <input
      type="email"
      id="email-input"
      name="email"
      placeholder="Enter your email address"
      #email_input
    />
    <button
      mat-raised-button
      color="accent"
      (click)="unsubscribe(email_input.value)"
      *ngIf="!loading"
    >
      Sign me out :(
    </button>
    <mat-progress-spinner
      class="example-margin"
      [color]="'accent'"
      [mode]="'indeterminate'"
      [diameter]="50"
      *ngIf="loading"
    >
    </mat-progress-spinner>
  </div>
</div>
